@import "reseteo";
$bordo: rgb(136, 0, 0);

header{
    background-color: black;
    margin: 5px;
    padding: 0px;
    border: 3px solid $bordo;
    nav{
        background-color: black;
        div{
            background-color: black;
            ul{
                background-color: black;
                li{
                    background-color: black;
                    img{
                        border: solid 3px black;
                        background-color: black;
                    }
                }
            }
        }
    }
}

.logo{
    justify-self: left;
}

.nav-item{
    color: $bordo;
    border: $bordo solid 3px;
    border-radius: 20%;
    margin: 20px;
    opacity: 0.5;
    transform: scale(0.93, 0.93);
}
.nav-item:hover{
    opacity: 1;
    transform: scale(1, 1);

}
main{
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    .biografia{
        background-color: white;
        width: 70%;
        p{
            background-color: white;
            width: 70%;
        }
    }
}
body{
    background-color: black;
}
.titulo{
    background-color: black;
    margin: 10px auto;
    padding: 20px;
}
.container {  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    display: inline-block;
    padding: 0;
}
.carouselButton:hover{
    opacity: 0%;
}
.container {  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $bordo;
    text-align: center;
    width: 200px;
}

.Gira { grid-area: 1 / 1 / 2 / 2; }

.Gira2 { grid-area: 2 / 1 / 3 / 2; }

.Gira3 { grid-area: 3 / 1 / 4 / 2; }

.Gira4 { grid-area: 4 / 1 / 5 / 2; }

.video{
    border: rgb(136, 0, 0) solid 5px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}